.title{
    font-family: 'Montserrat', sans-serif;
    font-size:30px;
    text-align:center;
    color:white;
    text-shadow: 1px 1px 2px black;
}
.images{
    height: 150px;
    position:absolute;
    top:20px;
    left:50px;
    
}
/*Titre et texte*/
.h1{
    text-align:center;
    font-family:'Montserrat';
    font-size:20px;
    padding-top:20px;
    color:#3B5998;
}

.text{
    text-align:center;
    font-family:'Montserrat';
}
/*Bas de page*/
.copyright{
    text-align:center;
    background: linear-gradient(#a15de0, #3B5998);
    color:white;
    bottom:0;
    position:relative;
    width:1519px;
    height:50px;
    margin:0px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.75);
    padding-top:20px;
}
/*Bannière*/
header{
    background: radial-gradient(#3B5998, #a15de0);
    
    padding:50px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.75);
}
body{
    margin:0px;
}
/*Bouton Contactez moi*/
.contact {
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #bcc1c4);
    background-image: -moz-linear-gradient(top, #ffffff, #bcc1c4);
    background-image: -ms-linear-gradient(top, #ffffff, #bcc1c4);
    background-image: -o-linear-gradient(top, #ffffff, #bcc1c4);
    background-image: linear-gradient(to bottom, #ffffff, #bcc1c4);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #3B5998;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
.contact:hover{
    background: linear-gradient(#3B5998, #a15de0);
    color:white;
}
.contact-me{
    padding-left:90%;
}
.coordonée{
    color:white;
    font-family:'Montserrat';
}
/*Image flèche*/
.arrow{
    top:110px;
    left:1250px;
    width:100px;
    position:absolute;
}

.h2{
    left:650px;
    top:120px;
    color:white;
    font-family:'Montserrat';
    text-shadow: 1px 1px 2px black;
    position:absolute;
}
/*Bouton traduction anglaise*/
.eng {
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #bcc1c4);
    background-image: -moz-linear-gradient(top, #ffffff, #bcc1c4);
    background-image: -ms-linear-gradient(top, #ffffff, #bcc1c4);
    background-image: -o-linear-gradient(top, #ffffff, #bcc1c4);
    background-image: linear-gradient(to bottom, #ffffff, #bcc1c4);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #3B5998;
    font-size: 10px;
    padding: 5px 8px 6px 8px;
    text-decoration: none;
  }
  .eng:hover{
    background: linear-gradient(#3B5998, #a15de0);
    color:white;
}
.english{
    padding-left:89%;
    top:50px;
    position:absolute;
}
/*Personnage en bas de page*/
.icons{
    width:300px;
    position:absolute;
    bottom:-800px;
    left:200px;
}
.html{
    position:absolute;
    width:200px;
    left:280px;
    bottom:550px;
    opacity: 0.15
    
}
/*Bouton projet*/
.projet{
    background: linear-gradient(#3B5998, #a15de0);
  background-image: -webkit-linear-gradient(top, #3B5998, #2980b9);
  background-image: -moz-linear-gradient(top, #3B5998, #2980b9);
  background-image: -ms-linear-gradient(top, #3B5998, #2980b9);
  background-image: -o-linear-gradient(top, #3B5998, #2980b9);
  background-image: linear-gradient(to bottom, #3B5998, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.projet:hover{
    background: #ffffff;
    color:#3B5998;
}
.projetperso{
    position:relative;
    padding-left:570px;
    margin-top:50px;
}
/*Bouton trombinoscope*/
.trombinoscope{
    background: linear-gradient(#3B5998, #a15de0);
  background-image: -webkit-linear-gradient(top, #3B5998, #2980b9);
  background-image: -moz-linear-gradient(top, #3B5998, #2980b9);
  background-image: -ms-linear-gradient(top, #3B5998, #2980b9);
  background-image: -o-linear-gradient(top, #3B5998, #2980b9);
  background-image: linear-gradient(to bottom, #3B5998, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.trombinoscope:hover{
    background: #ffffff;
    color:#3B5998
}
.trombi{
    position:relative;
    padding-left:670px;
    margin-top:50px;
    margin-bottom:50px;
}
/*Séparation entre les paragraphes*/
hr{
    border:dotted #3B5998 5px;
    border-bottom:none;
    width:5%;
    margin:30px auto;
}
.dev{
    position:relative;
    width:120px;
    left:710px;
    top:10px;
    bottom:-20px;
}
.parcours{
    position:absolute;
    width:100px;
    left:450px;
}
.book{
    position:absolute;
    width:120px;
    left:900px;
    top:820px;
}
.outil{
    position:absolute;
    width:90px;
    left:550px;
    top:1070px;
}
