.tableau{
    margin:auto;
}
body {
    margin:0px;
    background-color:#969292;
}

td 
{
    border: 1px solid black;
    color :white;
    font-family:Oswald;
    font-size:30px;
    text-align:center;
}
th{
    font-family:Oswald;
    font-size:40px;
    color:White;
    text-align:center;
}
h1{
    color:white;
    font-family:Long cang;
    font-size:50px;
    position: absolute;
    left:1100px;
    top:50px;
}
.images{
    height: 100px;
}